$color-white: #fff;
$color-black: #000;
$color-dark: #27282c;
$color-dark: #43444a;

$color-main: #F44336;
$nav-link-color: #fb7369;

$color-main: #2aaf9c;
$nav-link-color: #5ac1b3;

$color-main: #881ee9;
$nav-link-color: #9e48ec;