/* main header */
.main-header {
    height: 100vh;

    .main-navbar {
        background-color: $color-dark;
        
        .container {
            height: 70px;

            .navbar-brand {
                width: 100px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-white;
                background-color: $color-main   ;
            }

            .navbar-nav{
                .nav-item {
                    margin-left: 0.6rem;

                    .nav-link {
                        font-size: 1.1rem;
                        color: $color-white;
                        font-weight: lighter;
                    }

                    &:last-of-type {
                        .nav-link {
                            width: 120px;
                            height: 45px;
                            border-radius: 30px;
                            background-color: $color-white;
                            color: $color-dark;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    /* banner */
    .banner {
        height: calc(100vh - 70px);
        background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("../img/banner.jpg");
        background-size: cover;
        background-position: center;

        .bannerText {
            width: 55%;

            h1 {
                color: $color-white;
                font-size: 2rem;

                span {
                    &:first-of-type {
                        font-size: 1.5rem;
                    }
                }
            }

            p {
                color: darken($color-white, 20%);
                font-size: 1.1rem;
                line-height: 1.8;
            }
        }
    } 
}